.Photo {
  /*background-color: white;*/
  /*position: relative;*/
  /*box-sizing: border-box;*/
  margin: 1em;
  /*height: auto;*/
  width: calc(25% - 2em);
  /*line-height: 0;*/
  /*transition:*/
    /*background-color 0.3s,*/
    /*filter 0.3s;*/
}
.Photo--round-borders {
  border-radius: 10px;
}

.Photo__content {
  position: relative;
  overflow: hidden;
}

.Photo__author {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 1em;
  font-size: 1.25em;
  z-index: 1;
}

.Photo__date-taken {
  color: #fff;
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 1;
}

.Photo__image {
  width: 100%;
  /*transition:*/
    /*filter 0.3s,*/
    /*transform 0.3s;*/

  /*!* below properties are used for fixing bug with blinking border-radius while transition*!*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
}

/*.Photo__caption {*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*.Photo__description {*/
  /*box-sizing: border-box;*/
  /*color: #444;*/
  /*margin: 0;*/
  /*padding: 1em;*/
  /*width: 100%;*/
  /*line-height: normal;*/
/*}*/

/*.Photo:hover {*/
  /*background-color: #ddd;*/
/*}*/

/*.Photo:hover .Photo__image {*/
  /*filter: brightness(70%);*/
  /*transform: scale(1.1);*/
/*}*/