.Photos {
  column-count: 8;
  column-gap: 10px;
  margin: 5px;
}

@media screen and (max-width: 1700px) {
  .Photos {
    column-count: 6;
  }
}

@media screen and (max-width: 1300px) {
  .Photos {
    column-count: 3;
  }
}

@media screen and (max-width: 900px) {
  .Photos {
    column-count: 2;
  }
}

@media screen and (max-width: 500px) {
  .Photos {
    column-count: 1;
  }
}
