.Spinner {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Spinner--main {
  align-items: center;
  background-image: url(../../../assets/whitediamond.png); /* from subtlepatterns.com by Alte Mo */
  z-index: 100;
}

.Spinner--infinite-scroll {
  bottom: 0;
  align-items: flex-end;
  z-index: 99;
}

.Spinner--infinite-scroll div {
  transform: scale(0.5);
}